* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    height: 4rem;
    width: 100%;
    background-color: #f9f5e3;
    text-align: center;
    padding-top: 1rem;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.choice {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: black;
}

img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.msg-cont {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }